<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363899016913-ja8ps5u016qvr81pen9es4hhmm06uoou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363899016913-ja8ps5u016qvr81pen9es4hhmm06uoou</string>
	<key>API_KEY</key>
	<string>AIzaSyCUleF8ETllgJR8lxNSGIfcEvoWMHBu5q8</string>
	<key>GCM_SENDER_ID</key>
	<string>363899016913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.com.example.wheel_of_life</string>
	<key>PROJECT_ID</key>
	<string>mandela-drawing</string>
	<key>STORAGE_BUCKET</key>
	<string>mandela-drawing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363899016913:ios:7c77ddf2cf63980b50d7f0</string>
</dict>
</plist>